
@media only screen and (max-width : 760px)
{
	.navbar-nav
{
	margin-left: 0;
}
.main-zag h1
{
position: absolute;
margin-left: 50%;
margin-top: 12%;
font-family: HelveticaNeue;
font-size: 20px;
}
.main-zag h3
{
position: absolute;
margin-left: 50%;
margin-top: 16%;
font-family: HelveticaNeue;
font-size: 15px;
}
.but
{
	margin-left: 40%;
	position: absolute;
	margin-top: 25%;
}
.but button 
{
	width: 45%;
	height: 5%;
	font-size: 10px;
}
.value
{
	height: 260vh;
}
.value img
{
	padding-left: 43%;
}
.value div
{
	display: block;
}
.value-xbox
{
	margin-left: 6%;
}
.value-xbox img
{
	margin-left: -43%;
}
.value-mixer
{ 
	margin-left: 6%;
	margin-top: 2%;
}
.value-mixer img
{
	margin-left: -25%;
}
.value-gold
{
	margin-top: 121%;
	margin-left: 6%;
}
.value-gold img
{
	margin-left: 15%;
	margin-top: 8%;
	padding-left: 0;
}
.games
{
	height: 255vh;
}
.games-info 
{
	display:inline-block;
	margin-left: 5%;
}
.destiny
{
    transition:all 0.3s;
    margin-left: 0;
    position: inherit;
}
.stp
{
	transition:all 0.3s;
    margin-left: 0;
    position: inherit;
}
  .xbtn
  {
    margin-left: 30%;
  }
  .cod
  {
  	margin-left: 0%;
  }
    .stp:hover {
  transform: none;
}
   .destiny:hover {
  transform: none;
}
   .cod:hover {
  transform: none;
}
.lab p
{
	width: 300px;
}
.lab button
{
	margin-top: 3%;
}
.container
{
	margin-left: 0;
}
footer
{
	height: 90vh;
}
.line img
{
	width: 360px;
	margin-left: 0;
}

.footer-p1
{
position: absolute;
margin-left: 2%;
}
.footer-p2
{
position: absolute;
margin-left: 80%;
}
.line p
{
font-size: 55%;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) /*ipad*/
{
.main-zag h3
{
margin-top: 18%;
}
	.navbar-nav
{
	margin-left: 0;
}
.value div
{
	display: inline-block;
}
.value-xbox
{
	margin-left: 7%;
}
.value-mixer
{
	margin-top: 4%;
	margin-left: 15%;
}
.value-gold
{
	margin-left: 30%;
	margin-top: 3%;
}
.games
{
	height: 120vh;
}
.games-info 
{
	display:flex;
	margin-left: 7%;
}
.destiny
{
    transition:all 0.3s;
    margin-left: 13%;
    position: inherit;
}
.stp
{
	transition:all 0.3s;
    margin-left: -75%;
    margin-top: 65%;
    position: inherit;
}
  .xbtn
  {
    margin-left: 39%;
  }
  .cod
  {
  	margin-left: -4%;
  }
     .stp:hover {
  transform: none;
}
   .destiny:hover {
  transform: none;
}
   .cod:hover {
  transform: none;
}
.lab
{
	height: 35vh;
}
.container
{
	margin-left: 0;
}
.line img
{
	width: 768px;
	margin-left: 0;
}
footer
{
	height: 33vh;
}
.footer-p1
{
position: absolute;
margin-left: 2%;
}
.footer-p2
{
position: absolute;
margin-left: 85%;
}
.line p
{
font-size: 65%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) /*ipad pro*/
{
	.navbar-nav
{
	margin-left: 25%;
}
.value-xbox
{
	margin-left: 4%;
}
.value-mixer
{
	margin-top: 3%;
	margin-left: 3%;
}
.value-gold
{
	margin-left: 36%;
	margin-top: 3%;
}
    .stp:hover {
  transform: none;
}
   .destiny:hover {
  transform: none;
}
   .cod:hover {
  transform: none;
}
.games-info 
{
	display:flex;
	margin-left: 2.5%;
}
.destiny
{
    transition:all 0.3s;
    margin-left: 1%;
    position: inherit;
}
.stp
{
	transition:all 0.3s;
    margin-left: 1%;
    margin-top: 2.5%;
    position: inherit;
}
  .xbtn
  {
    margin-left: 39%;
  }
  .cod
  {
  	margin-left: 0;
  }
     .stp:hover {
  transform: none;
}
   .destiny:hover {
  transform: none;
}
   .cod:hover {
  transform: none;
}
.value
{
	height: 60vh;
}
.games
{
	height: 60vh;
}
.games button
{
	margin-left: 45%;
}
.line img
{
	width: 1024px;
	margin-left: 0;
}
footer
{
  height: 25vh; 
}
.footer-p1
{
position: absolute;
margin-left: 2%;
}
.footer-p2
{
position: absolute;
margin-left: 80%;
}
.line p
{
font-size: 70%;
}
}