
@media only screen and (max-width : 760px)
{ 
.navbar-nav
{
	margin-left: 0;
}
.main-zag h1
{
position: absolute;
margin-left: 50%;
margin-top: 12%;
font-family: HelveticaNeue;
font-size: 20px;
}
.main-zag h3
{
position: absolute;
margin-left: 50%;
margin-top: 16%;
font-family: HelveticaNeue;
font-size: 15px;
}
.but
{
	margin-left: 40%;
	position: absolute;
	margin-top: 25%;
}
.but button 
{
	width: 45%;
	height: 5%;
	font-size: 10px;
}
.value
{
	height: 100%;
}
.value img
{
	padding-left: 43%;
}
.value div
{
	display: block;
}
.value-xbox
{
	margin-left: 7%;
}
.value-xbox img
{
	margin-left: -43%;
}
.value-mixer
{ 
	margin-left: 7%;
	margin-top: 2%;
}
.value-mixer img
{
	margin-left: -25%;
}
.value-gold
{
	margin-top: 116%;
	margin-left: 7%;
}
.value-gold img
{
	margin-left: 15%;
	margin-top: 8%;
	padding-left: 0;
}
.games
{
	height: 100%;
}
.games-info 
{
	display:inline-block;
	margin-left: 7%;
}
.destiny
{
    transition:all 0.3s;
    margin-left: 0;
    position: inherit;
}
.stp
{
	transition:all 0.3s;
    margin-left: 0;
    position: inherit;
}
  .xbtn
  {
    margin-left: 30%;
  }
  .cod
  {
  	margin-left: 0%;
  }
    .stp:hover {
  transform: none;
}
   .destiny:hover {
  transform: none;
}
   .cod:hover {
  transform: none;
}
.lab p
{
	width: 300px;
}
.lab button
{
	margin-top: 3%;
}
.container
{
	margin-left: 0;
}
footer
{
	height: 70vh;
}
.line img
{
	width: 375px;
	margin-left: 0;
}

.footer-p1
{
position: absolute;
margin-left: 2%;
}
.footer-p2
{
position: absolute;
margin-left: 80%;
}
.line p
{
font-size: 55%;
}
}
